.user-body.profile-page {
  height: 100%;
  position: relative;
}
.profile-body {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-bottom: 2rem;
}
.profile-image {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
}
.profile-content {
  width: 60vw;
  margin-top: 5rem;
  background-color: #ffffff;
  border-radius: 8px;
  padding-top: 10rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  flex-direction: column;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
}

.profile-username {
  display: flex;
  gap: 10px;
}

.profile-bio {
  font-size: 1rem;
  text-align: center;
  margin: 2rem 4rem;
}
hr {
  width: 100%;
}
.note-gist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;

}

.card-summary {
  background-color: rgb(157, 211, 255);
  padding: 8px;
  border-radius: 6px;
  margin-top: 1rem;
}
