.user-body.profile-page {
  height: 100%;
  position: relative;
}
.profile-body {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-bottom: 2rem;
}
.profile-image,
.profile-image .img-responsive {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  position: absolute;
  top: 0.5rem;
  z-index: 1;
}
.profile-content {
  width: 60vw;
  margin-top: 5rem;
  background-color: #ffffff;
  border-radius: 8px;
  padding-top: 10rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  flex-direction: column;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  position: relative;
}

.profile-username {
  display: flex;
  gap: 6px;
}

.profile-bio {
  font-size: 1rem;
  text-align: center;
  margin: 2rem 4rem;
}
.profile-email{
  font-size: 12px;
  color: rgb(109, 106, 106);
}
hr {
  width: 100%;
}
.note-gist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.card-summary {
  background-color: rgb(157, 211, 255);
  padding: 8px 1rem;
  border-radius: 6px;
  margin-top: 1rem;
}

.edit-user-profile {
  position: absolute;
  font-size: 1.5rem;
  cursor: pointer;
  right: 1rem;
  top: 8px;
  border: none;
  background-color: inherit;
}
.note-gist-header {
  text-align: center;
}
