.dashborad-container {
  margin: 2rem 0 0 4rem;
  height: 100%;
  width: 10%;
}
.dashborad-container .dashborad-icons {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.dashborad-icons div {
  display: flex;
  gap: 1rem;
}
.dashborad-icons a{
  color:inherit;
  text-decoration: none;
}
.dashboard-button {
  margin-top: 2rem;
  font-size: 1.2rem;
  width: 12rem;
  padding: 8px;
  height: auto;
  color: #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5348c7;
}
