.footer-div{
    background-color: white;
    font-family: "Fuzzy Bubbles", cursive;
    font-weight: bolder;
    font-size: 1.5rem;
    padding-left: 4rem;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    position: fixed;
}
.footer-div div{
    display: flex;
}

.footer-icon{
    margin-left: 1.5rem;
}
.footer-title{
    color: #5348c7;
}
.social-icons{
    margin-right: 50%;
    gap: 20px;
}