@import url("https://engin-ui.netlify.app/components/style.css");
@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Lora&family=Nunito+Sans:wght@600&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Fuzzy+Bubbles&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
.app-container {
  font-family: "Nunito Sans", sans-serif;
  width: 100%;
  height: 100%;
  background: #e5e5e5;
  display: relative;
}
div a {
  text-decoration: none;
}
/* error body */
.error-body{
  height: 100vh;
  display: flex;
  margin-top: 5rem;
  padding-left: 2rem;
  font-size: 1.5rem;
}
/* available fonts */
/* font-family: 'Freehand', cursive;
font-family: 'Lora', serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Fasthand', cursive;
font-family: 'Fuzzy Bubbles', cursive;
*/
